{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<h1>Welcome</h1>
		<p class="lead">Welcome our Symfony site, but you don't know as visitor until this site published.</p>
	</div>
{% endblock %}
