{% extends "manager/base.html.twig" %}

{% block title %}Update Category{% endblock %}

{% block body %}
	<h1>Update Category</h1>

	{{form_start(form)}}
	{{form_widget(form)}}
	{{form_end(form)}}
{% endblock %}
