{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
         <h1>Error</h1>

        <p>
            Checkout for any URL misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
        </p>
	</div>
{% endblock %}
{% block footer %}{% endblock %}
