{% extends 'base.html.twig' %}

{% block title%}Say Hi!{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Say Hi</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end (form) }}
	</div>
{% endblock %}
